 <div class="flex items-center justify-center card">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full img_project"
                [src]="projeto.img" />
        </ng-template>
        <ng-template #title> {{projeto.title}} </ng-template>
        <ng-template #subtitle> {{projeto.cliente}} </ng-template>
        <p>
           {{projeto.description}}
        </p>
        <ng-template #footer>
            <p-button label="Git Hub" icon="pi pi-github"  />
        </ng-template>
    </p-card>
</div>
