#cards {
    margin-left: 20%;
    padding-bottom: 10%;
    height: 90%;
    width: 60%;
    max-width: 100%;
    background-color: rgba(216, 216, 216, 0.777);
    overflow: auto;
}

.img_carreira {
    width: 100%;
    max-width: 300px; 
    height: auto;     
    border-radius: 15px;
}

.card-carreira {
    display: flex;
    margin: 2vh;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
}

.div-img {
    display: flex;
    width: 50%; 
}

.div-content {
    width: 50%; 
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    #cards {
        margin-left: 5%; 
        width: 90%; 
    }

    .card-carreira {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .img_carreira {
        max-width: 100%; 
        height: 30vh;
        width: 30vh;
    }

    .div-img {
        width: 100%; 
        margin-bottom: 10px; 
        justify-content: center;
    }

    .div-content {
        width: 100%; 
    }
}


:host ::ng-deep .p-steppanel,
:host ::ng-deep .p-steppanel {
    background-color: rgba(216, 216, 216, 0.777) !important;
    
}


:host ::ng-deep .p-fieldset {
    background-color: rgba(243, 236, 236, 0.418) !important;
    margin-bottom: 0.5vh !important;
}

:host ::ng-deep .p-fieldset-legend  {
    color: rgba(41, 39, 39, 0.89) !important;
    font-size: large;
    font-style: unset;
    background-color: rgba(245, 239, 239, 0) !important;
}

:host ::ng-deep .p-step-title {
    color: rgba(41, 39, 39, 0.89) !important;
    font-size: x-large;
}

