<div id="cards">
    <p-stepper [value]="trabalhos.length">
        <p-step-item *ngFor="let trabalho of trabalhos; let i = index" [value]="i+1">
            <p-step>{{trabalho.nome}}</p-step>
            <p-step-panel>
                <ng-template #content>
                    <div class="card-carreira">
                        <div class="div-img">
                            <img class="img_carreira" [src]="trabalho.img" alt="">
                        </div>
                        <div class="div-content">
                            <div class="flex flex-col h-48">
                                <p-fieldset [legend]="trabalho.nome">
                                    <p class="m-0">
                                        {{trabalho.descricao}}
                                    </p>
                                </p-fieldset>

                                <p-fieldset legend="Datas">
                                    Início: {{trabalho.dataInicio}} | Fim: {{trabalho.dataFim}}
                                </p-fieldset>

                                <p-fieldset legend="Tecnologias Utilizadas">
                                    <ul>
                                        <li *ngFor="let tech of trabalho.tecnologiasUtilizadas">
                                            {{ tech.name }}
                                        </li>
                                    </ul>
                                </p-fieldset>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
</div>